.active li a{
    background: linear-gradient(90deg, #632EE3, #9F62F2);
    -webkit-background-clip: text; /* For Safari/Chrome */
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For Firefox (optional) */
}
.active li{
    text-decoration: underline;
}
